<!-- this is a partial that pops up over the list of albums -->
<!-- field for title, option to add images, radio buttons for permission options -->
<!-- can X this out to cancel creating album -->

<h2>Create an Album</h2>

<%= form_for :album, url: albums_path do |f| %>
  <%= render "shared/errors" %>
  <%= r.label :title %>
  <%= f.text_field :title, :required => true %>

  <%= f.label :description %>
  <%= f.text_area :description %>

  <%= f.label :permissions, "Anyone with link can see and contribute" %>
  <%= f.radio_button :permissions, "1" %>

  <%= f.label :permissions, "Anyone with link can see, password required to contribute" %>
  <%= f.radio_button :permissions, "2" %>

  <%= f.label :permissions, "Anyone with link can see, only specified accounts can contribute" %>
  <%= f.radio_button :permissions, "3" %>

  <%= f.label :permissions, "Password required to see album and contribute" %>
  <%= f.radio_button :permissions, "4" %>

  <%= f.label :permissions, "Password required to see album, only specified accounts can contribute" %>
  <%= f.radio_button :permissions, "5" %>

  <%= f.label :permissions, "Only specified accounts can see album and contribute" %>
  <%= f.radio_button :permissions, "6" %>

  <%= f.submit "Create" %>
<% end %>
